{
  "presets": [
    "@babel/env",
    [
      "@babel/stage-0",
      { "decoratorsLegacy": true, "pipelineProposal": "minimal" }
    ],
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "components": "./src/components",
          "pages": "./src/pages",
          "services": "./src/services"
        }
      }
    ]
  ]
}
